<!DOCTYPE html>
<html lang="en">
<!--aaa-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>ShareBoard</title>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">2020 Narsha - ShareBoard</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">ShareBoard</h1>
            <p class="text-center">2020 DGSW Narsha</p>
            <p class="text-center">2020년 대소고 나르샤 <br> C편한세상</p>
            <p class="text-center"><a class="btn btn-primary btn-lg" onclick="location.href='main'" target="_blank"
                    role="button">Main Page</a>
            </p>
        </div>
        <hr>
    </div>
</body>

</html>